Checks: '-*,
    bugprone-macro-parentheses,
    bugprone-macro-repeated-side-effects,
    bugprone-suspicious-memset-usage,
    clang-analyzer-core.DivideZero,
    clang-analyzer-core.NullDereference
    '

HeaderFilterRegex: (?!^subprojects).*

WarningsAsErrors: '*'
