Checks: '
-*,
readability-function-size'
WarningsAsErrors: '*'
CheckOptions:
  - { key: readability-function-size.LineThreshold,     value: 100 }
  - { key: readability-function-size.StatementThreshold,value: 50 }
  - { key: readability-function-size.NestingThreshold,  value: 5 }
  - { key: readability-function-size.VariableThreshold, value: 10 }
  - { key: readability-function-size.ParameterThreshold,value: 9 }
