Checks: '-*,
    bugprone-sizeof-expression,
    bugprone-unchecked-optional-access,
    clang-analyzer-core.NullDereference,
    modernize-use-nullptr
    '

HeaderFilterRegex: '(?!^subprojects).*'

WarningsAsErrors: '*'

